    <style>
    {
        box-sizing: border-box;
    }
    .column {
    float: left;
    width: 50%;
    }
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    html{
    font-family:'Montserrat';
    color:white;
    width: 80%;
    margin: 10%;
    }
    h3 {
    color: white;
    margin-right: 30px;
    }
    body{
    background-color:rgb(20,20,20)
    }
    a:link {color: orange;text-decoration: none;}
    a:visited {color: orange;text-decoration: none;}
    a:hover {color: yellow;text-decoration: none;}
    a:active {color: yellow;text-decoration: none;}
    </style>
