---
---

@import "minima";

/* Your homepage */

.home-layout {
    display: flex;
    align-items: center;
    gap: 60px;

    max-width: 1000px;
    margin: 80px auto;
    padding: 0 30px;
}

.home-text {
    flex: 1;
}

.home-photo {
    width: 300px;
    flex-shrink: 0;
}

.home-photo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
}


/* Phone */
@media (max-width: 700px) {

    .home-layout {
        flex-direction: column;
        gap: 30px;

        margin: 40px auto;
        padding: 0 20px;
    }

    .home-text {
        width: 100%;
        text-align: center;
    }

    .home-photo {
        width: 220px;
    }
}
