---
---

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import "minima";

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 350;
}

.site-title,
h1,
h2,
h3 {
    font-weight: 450;
}
