---
---

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "minima";

a,
a:visited,
a:hover,
a:active {
    color: #116342;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 350;
    font-size: 16px;
    background-color: #ffffff;
}

.post-content h1 { font-size: 20px; }
.post-content h2 { font-size: 18px; }
.post-content h3 { font-size: 16px; }

strong,b {font-weight: 450; }

.home-layout {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.home-text {
    flex: 1;
}

.home-photo img {
    width: 300px;
    border-radius: 8px;
}

.site-footer {
  border-top: 1px solid #000; /* Creates the black line */
  margin-top: 40px;          /* Adds space above the footer */
  padding: 20px 0;           /* Adds breathing room */
  text-align: center;        /* Centers the date; change to 'left' if preferred */
  font-size: 0.9rem;
  color: #333;
}
