---
---

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "minima";

a,
a:visited,
a:hover,
a:active {
    color: #116342;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 350;
    font-size: 14px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

.home-layout {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.home-text {
    flex: 1;
}

.home-photo img {
    width: 300px;
    border-radius: 8px;
}
